@import "./partials/base";

.features {
  padding: 20rem 0;
  font-size: 1.5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 237, 136, 0.6),
      rgba(132, 0, 51, 0.6)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -8rem;

  & > * {
    transform: skewY(7deg);
  }

  .feature__box {
    background: $color-white;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.15);
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
}
