.section__about {
  background: $color-gray-light-1;
  padding-top: 15rem;
  padding-bottom: 20rem;
  margin-top: -8vh;
  .paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: justify;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1.6rem;
    color: $red_orange !important;
    display: inline-block;
    border-bottom: 1px solid $red_orange;
    text-decoration: none;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background: $sinbad;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }

  &:active {
    background: $sinbad;
    transform: translate(0);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
  }
}
