@import "../base/btn";
.section__about {
  background: $color-gray-light-1;
  padding-top: 15rem;
  padding-bottom: 20rem;
  margin-top: -8vh;
  .paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: justify;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
