.booking-section {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $red_orange, $siren);

  .book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 50%,
        transparent 50%
      ),
      url("../img/Travel-proj_4.jpeg");
    height: 50rem;
    background-size: cover;
    border-radius: 3px;
    box-shadow: $box-shadow2;
  }
}
