i {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, $red_orange, $siren);
  background-clip: text;
  color: transparent;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  font-weight: 400;
}
