@import "../base/btn";
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 237, 136, 0.8),
      rgba(132, 0, 51, 0.8)
    ),
    url(../img/Banner.jpeg);
  background-size: cover;
  background-position: top;
  height: 98vh;
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0% 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 3.5rem;
    padding: 0.2rem 0.5rem;
    font-weight: 800;
    border: 0.3rem solid $aztec;
    color: $siren;
    transform: rotate(-45deg);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.primary-text {
  color: whitesmoke;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s;
  margin-bottom: 6rem;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    padding-left: 2rem;
    letter-spacing: 3.5rem;
    background: #f8333d8c;
    border-radius: 1rem;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
  }
}
